version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: quant_arena_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: quant_arena
    volumes:
      - pg_data:/var/lib/postgresql/data
  
volumes:
  pg_data:
